<div class="row" >
	<img src="assets/img/burger.png" alt="burger.png" >
	<h3>Eat-Da-Burger!</h3>
</div>

<br>

<div class="row">

	<textarea name="burger" id="burgernames" cols="42" rows="5"></textarea>
	<br><br>
	<input type="submit" class="btn btn-primary" value="Submit">
	<br><br>
	<p id="subbutton">Enter a burger you want to eat Click the "Submit" button.</p>

</div>

{{#each burger}}
{{this.burger_name}}

{{/each}}